# Yarn
node_modules
yarn-error.log

# TypeScript dist
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# exclude everything
src/worker/temp/*

# exception to the rule
!src/worker/temp/.gitkeep
